#adres{
    display:block;
    text-align: left;
    font-style: unset
  }
  .a11 {
   font-variant-caps: petite-caps;
   text-align: center;
   font-size: 40px;
   font-style: normal;
   font-family: 'Times New Roman', Times, serif;	
   color: darkslategrey; 	
  }
  .textShowss {
     
   position: relative;
   font-weight: 900;
   font-size: 3.7em
   
   
   }
   .textShowss .a11 {
   position: relative;
   display: inline-block;
   padding-top: 2em;
   padding-right: 0.05em;
   padding-bottom: 0.1em;
   overflow: hidden;
   margin-right: -50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
   }
   .textShowss .textAdres {
   transform-origin: 0 100%;
   display: inline-block;
   line-height: 1em;
   color:darkred;
   }
   .bg-Main-Paintings{
      height: auto !important;
      padding: 4em;
   }
   .bg-light-Main{
     height: 100% !important;
     background-color: #f8f9fa!important;
     text-align: justify; 
   }
   .mySection{
    align-items: center;
    justify-content: center;
    display: flex; 
   }
   .myDescriptionPoetry{
      color: #424242;
      font-size: 1.25em;
      text-indent: 20px;
   }
   h2{
     color: #424242 !important;
   }
   .textAboutMe{
    color:#424242;
    text-align: justify;
    text-indent: 1.5em;
    margin-top: 0
  }
  .testimonial-wrap .quote{
    color:#424242;
  }
  .block-testomonial .author .position{
    color:#424242;
  }
  p.design{
    color:#424242;
  }
  a{
    color: #424242;
  }
  .mb-4title{
    color: #ffea00 !important;
  }
  .block-thumbnail-1 .block-thumbnail-content h2{
    color: #ffea00 !important;
  }
  .lead{
    color: #ffea00 !important;
  }