@media screen and (max-width: 2000px){
    .bg-light{
        background-color:#f8f9fa!important;
        height: 400px;
        
    }
    a.bg-light:focus,
    a.bg-light:hover,
    button.bg-light:focus,
    button.bg-light:hover{
        background-color:#dae0e5!important}
    .testimonial-wrap .quote{
        line-height:1;
        position:relative;
        font-size: 1.5em;
        color:#000;
        text-align:center;
        margin-bottom: 10px}
    .block-testomonial .author .position{
        font-size:1.25em;
        color: #000}
    .display-4{
        font-size:2rem;
        font-weight:300;
        line-height:1.2}
    .containerCarousel{
        height: auto;
        }
    }
    .main-row-about{
        display: flex;
        justify-content: center;
    }
    .header-about-me{
        display: flex;
        justify-content: center;
        margin: 2em;
        font-size: 200%;
    }
    #about-me-text{
        padding: 4em;
        margin: 4em;
    }
    .about-me-p{
        text-indent: 1.25em;
        font-size: 110%;
        align-content: stretch;
        text-align: justify;
    }
    .qoute-main{
        font-size: 120%;
        margin-bottom: 4em;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
@media screen and (max-width: 899px){
    .bg-light{
        background-color:#f8f9fa!important;
        height: auto;
    }
    a.bg-light:focus,
    a.bg-light:hover,
    button.bg-light:focus,
    button.bg-light:hover{
        background-color:#dae0e5!important}
    .testimonial-wrap .quote{
        line-height:1;
        position:relative;
        font-size: 1.5em;
        color:#000;
        text-align:center}
    .block-testomonial .author .position{
        font-size:1.25em;} 
}
@media screen and (max-width: 800px){
    .bg-light{
        background-color:#f8f9fa!important;
        height: auto;
    }
    a.bg-light:focus,
    a.bg-light:hover,
    button.bg-light:focus,
    button.bg-light:hover{
        background-color:#dae0e5!important}

    .testimonial-wrap .quote{
        line-height:1;
        position:relative;
        font-size: 1.5em;
        color:#000;
        text-align:center}
    .block-testomonial .author .position{
        font-size: 1.25em;
        color: #000}
}

@media screen and (max-width: 599px){
    .bg-light{
        background-color:#f8f9fa!important;
        height: auto;
    }
    a.bg-light:focus,
    a.bg-light:hover,
    button.bg-light:focus,
    button.bg-light:hover{
        background-color:#dae0e5!important}

    .testimonial-wrap .quote{
        line-height:1;
        position:relative;
        font-size: 1.5em;
        color:#000;
        text-align:center}
    .qoute-main{
        font-size: 100%;
    }
    .row{
        margin: 0;
    }
    #about-me-text {
        padding: 1em; 
        margin: 1em;
    }
    .block-testomonial .author .position{
        font-size: 100%;
    }
    .block-testomonial p{
        margin: 0;
    }
}

@media screen and (max-width: 370px){
    .bg-light{
        background-color:#f8f9fa!important;
        height: auto;
    }
    a.bg-light:focus,
    a.bg-light:hover,
    button.bg-light:focus,
    button.bg-light:hover{
        background-color:#dae0e5!important
    }

    .testimonial-wrap .quote
    {
        line-height:1;
        position:relative;
        font-size: 1.5em;
        color:#000;
        text-align:center
    }
    #about-me-text{
        padding: 1em;
        margin: 1em;
    }
    .qoute-main{
        font-size: 100%;
    }
    .block-testomonial .author .position{
        font-size: 100%;
    }
}