
    #wrapper > * > .inner {
        width: 100%;
        max-width: 68em;
        margin: 0 auto;
        padding: 0 2.5em;
    }  
    @media screen and (max-width: 1600px){
        #wrapper > * > .inner {
            
           width: auto;
           float:none;
           margin-right: 0;
            height: 100%;
            text-align: justify;
        }
    #aboutArtist.divAboutArtist {
       max-height: 420px;
        display: block;
        
        text-align: justify;
        
       
    }
   #aboutArtist.notOpen {
        max-height: 400px;

        -webkit-transition: max-height 0.7s;
        -moz-transition: max-height 0.7s;
        transition: max-height 0.7s;
    }
    #aboutArtist.open {
        max-height: 100%;
        opacity: 2;
        text-align: justify;

        -webkit-transition: max-height 0.7s;
        -moz-transition: max-height 0.7s;
        transition: max-height 0.7s;
        display: block;  
        /* i add block */
    }
    .information{
        height: 100%;
    }
    .a11{
        font-size: 35px;
    }
    .imageFace{	
		
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95%;
        width: 95%;
        border-radius: 80%; 
        border-color: white;
        border: solid 10px;		
    }
    .ml8 .letters-container {
        position: absolute;
        /* left: 0; */
        /* right: 0; */
        margin: auto;
        /* top: 140px;
        bottom: 0;
        height: 1em; */
        
      }
      h1.ml8 {
        font-weight: 900;
        font-size: 4.5em;
        color: goldenrod;
        width: 80%;
        height: 1em;
        padding-bottom: 100px;
      }

}  
    @media screen and (max-width: 899px){
        #wrapper > * > .inner {
            
           width: auto;
           float:none;
           margin-right: 0;
            height: 100%;
            text-align: justify;
        }
    #aboutArtist.divAboutArtist {
       max-height: 500px;
        display: block;
        
        text-align: justify;
        
       
    }
   #aboutArtist.notOpen {
        max-height: 400px;

        -webkit-transition: max-height 0.7s;
        -moz-transition: max-height 0.7s;
        transition: max-height 0.7s;
    }
    #aboutArtist.open {
        max-height: 100%;
        opacity: 2;
        text-align: justify;

        -webkit-transition: max-height 0.7s;
        -moz-transition: max-height 0.7s;
        transition: max-height 0.7s;
        display: block;  
        /* i add block */
    }
    .information{
        height: 100%;
    }
    .a11{
        font-size: 35px;
    }
    .imageFace{	
		
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95%;
        width: 95%;
        border-radius: 80%; 
        border-color: white;
        border: solid 10px;		
    }
    .ml8 .letters-container {
        position: absolute;
        /* left: 0; */
        /* right: 0; */
        margin: auto;
        /* top: 140px;
        bottom: 0;
        height: 1em; */
        
      }
      h1.ml8 {
        font-weight: 900;
        font-size: 4.5em;
        color: goldenrod;
        width: 70%;
        height: 1em;
        padding-bottom: 100px;
      }

}
    @media screen and (max-width: 750px){
        #wrapper > * > .inner {
            
           width: auto;
           float:none;
           margin-right: 0;
            height: 100%;
            text-align: justify;
        }
    #aboutArtist.divAboutArtist {
       max-height: 500px;
        display: block;
        
        text-align: justify;
        
       
    }
   #aboutArtist.notOpen {
        max-height: 400px;

        -webkit-transition: max-height 0.7s;
        -moz-transition: max-height 0.7s;
        transition: max-height 0.7s;
    }
    #aboutArtist.open {
        max-height: 100%;
        opacity: 2;
        text-align: justify;

        -webkit-transition: max-height 0.7s;
        -moz-transition: max-height 0.7s;
        transition: max-height 0.7s;
        display: block;  
        /* i add block */
    }
    .information{
        height: 100%;
    }
    .a11{
        font-size: 35px;
    }
    .imageFace{	
		
        display: flex;
        align-items: center;
        justify-content: center;
        height: 95%;
        width: 95%;
        border-radius: 80%; 
        border-color: white;
        border: solid 10px;		
    }
    .ml8 .letters-container {
        position: absolute;
        /* left: 0; */
        /* right: 0; */
        margin: auto;
        /* top: 140px;
        bottom: 0;
        height: 1em; */
        
      }
      h1.ml8 {
        font-weight: 900;
        font-size: 4.5em;
        color: goldenrod;
        width: 60%;
        height: 1em;
        padding-bottom: 100px;
      }

}
       
        @media screen and (max-width: 600px){
            #wrapper > * > .inner {
                
               width: auto;
               float:none;
               margin-right: 0;
                height: 100%;
            }
        #aboutArtist.divAboutArtist {
           max-height: 580px;
            display: block;
            
            text-align: justify;
            
           
        }
       #aboutArtist.notOpen {
            max-height: 400px;
    
            -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            transition: max-height 0.7s;
        }
        #aboutArtist.open {
            max-height: 100%;
            opacity: 2;
            text-align: justify;
    
            -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            transition: max-height 0.7s;
            display: block;  
            /* i add block */
        }
        .information{
            height: 100%;
        }
        .a11{
            font-size: 30px;
        }
        .imageFace{	
		
            display: flex;
            align-items: center;
            justify-content: center;
            height: 95%;
            width: 95%;
            border-radius: 80%; 
            border-color: white;
            border: solid 10px;		
        }
        .ml8 .letters-container {
            position: absolute;
            /* left: 0; */
            /* right: 0; */
            margin: auto;
            /* top: 140px;
            bottom: 0;
            height: 1em; */
            
          }
          h1.ml8 {
            font-weight: 900;
            font-size: 4.5em;
            color: goldenrod;
            width: 55%;
            height: 1em;
            padding-bottom: 100px;
          }

    }
        @media screen and (max-width: 440px){
            #wrapper > * > .inner {
                
               width: auto;
               float:none;
               margin-right: 0;
                height: 100%;
            }
        #aboutArtist.divAboutArtist {
           max-height: 660px;
            display: block;
            
            text-align: justify;
            
           
        }
       #aboutArtist.notOpen {
            max-height: 400px;
    
            -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            transition: max-height 0.7s;
        }
        #aboutArtist.open {
            max-height: 100%;
            opacity: 2;
            text-align: justify;
    
            -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            transition: max-height 0.7s;
            display: block;  
            /* i add block */
        }
        .information{
            height: 100%;
        }
        .a11{
            font-size: 25px;
        }
        .imageFace{	
		
            display: flex;
            align-items: center;
            justify-content: center;
            height: 85%;
            width: 85%;
            border-radius: 80%; 
            border-color: white;
            border: solid 10px;		
        }
        .ml8 .letters-container {
            position: absolute;
            /* left: 0; */
            /* right: 0; */
            margin: auto;
            /* top: 140px;
            bottom: 0;
            height: 1em; */
            
          }
          h1.ml8 {
            font-weight: 900;
            font-size: 4.5em;
            color: goldenrod;
            width: 50%;
            height: 1em;
            padding-bottom: 100px;
          }

    }

        @media screen and (max-width: 370px) {
    
            #wrapper > * > .inner {
                padding: 0 1.25em;
               
                height: 100%;
            }
        #aboutArtist.divAboutArtist {
           max-height: 600px;
            display: block; 
            text-align: justify;
        }
       #aboutArtist.notOpen {
            max-height: 400px;
    
            -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            transition: max-height 0.7s;
        }
        #aboutArtist.open {
            max-height: 100%;
            opacity: 2;
            text-align: justify;
    
            -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            transition: max-height 0.7s;
            display: block;  
            /* i add block */
        }
        .information{
            height: 80%;
            font-size:80%;
           
        }
        .a11{
            font-size: 20px;
        }
        .imageFace{	
		
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            width: 75%;
            border-radius: 80%; 
            border-color: white;
            border: solid 10px;		
        }
        .ml8 .letters-container {
            position: absolute;
            /* left: 0; */
            /* right: 0; */
            margin: auto;
            /* top: 140px;
            bottom: 0;
            height: 1em; */
            
          }
          h1.ml8 {
            font-weight: 900;
            font-size: 4.5em;
            color: goldenrod;
            width: 50%;
            height: 1em;
            padding-bottom: 100px;
          }
          .ml8 .circle-white {
			width: 2em;
			height: 2em;
			border: 2px dashed gold;
			border-radius: 2em;
		}
 }